#wrapper {
    display: flex;
    margin-top: -62px;
}

.sidebar {
    width: 19rem !important;
    background: linear-gradient(0deg, #2196F3, #00106b);
    padding-top: 80px;
}

#content-wrapper {
    background-color: #e6e6e6;
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    overflow-x: hidden;
}

.active {
    background: white;
    box-shadow: -1px 1px 13px 2px;
}

.nav-item:hover {
    background: #e0e0e0;
    box-shadow: -1px 1px 13px 2px;
}

.active-link,
.nav-link:hover {
    color: #021045;
    display: block;
    padding: .5rem 0rem;
}

.nav-item {
    padding: 0px 20px;
    border-radius: 10px;
    margin: 5px 5px;
}

.nav-item a {
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
    color: #021045;
}

a.nav-link {
    color: white;
}

i {
    padding-right: 5px;
}

.round {
    padding: 20px;
    border-radius: 20px;
    min-height: 250px;
}

.poster {
    margin: 15px;

}